extends layout

block content
  h1 #{title}: #{author.name}
  
  if author_books.length
  
    p #[strong Exclua os seguintes livros antes de tentar excluir este autor.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 livros
    
      dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p Você realmente quer deletar este Autor?
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') Delete