extends layout

block content

  h1 Autor: #{author.name}
  p #{author.date_of_birth} - #{author.date_of_death}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Livros
    
    dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p Este autor não possui livros.

      p
        a(href=author.url+'/delete') Delete Autor
      p
        a(href=author.url+'/update') Atualizar Autor