extends layout

block content
  h1 #{title}: #{book.title}
  
  p #[strong Autor:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Sumário:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Gênero:]&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 
  
  div(style='margin-left:20px;margin-top:20px')
    h4 Copias
    
    each val in book_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status} 
      p #[strong Impressão:] #{val.imprint}
      if val.status!='Available'
        p #[strong Devido de volta:] #{val.due_back}
      p #[strong Id:]&nbsp;
        a(href=val.url) #{val._id}
 
    else
      p Não há cópias deste livro na biblioteca.

    hr
  p
    a(href=book.url+'/delete') Excluir Livro
  p
    a(href=book.url+'/update') Atualizar Livro 