extends layout

block content

  h1 Gênero: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Livros
    
    dl
    each book in genre_books
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p Este gênero não tem livros.
      
  hr
  p
    a(href=genre.url+'/delete') Excluir Gênero
  p
    a(href=genre.url+'/update') Atualizar Gênero