extends layout

block content
  h1= title
  p Bem-vindo à Biblioteca Local

  h1 Conteúdo dinâmico

  if error
    p Erro ao obter conteúdo dinâmico.
  else
    p A biblioteca tem as seguintes contagens de registros:

    ul
      li #[strong Livros:] !{data.book_count}
      li #[strong Copias:] !{data.book_instance_count}
      li #[strong Cópias disponíveis:] !{data.book_instance_available_count} 
      li #[strong Autores:] !{data.author_count}
      li #[strong Gêneros:] !{data.genre_count}